*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: slateblue !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main{
    background-color: white;
    padding: 20px;
}
.main label{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}